*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
.division {
    border: 0px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(79, 79, 79);
    min-width: 150vh;
    min-height: 50vh;
    width: 150px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    text-align: justify;
}

.division h1 {
    padding: 75px 300px 0px;
    font-size: 32px;
}

.division p {
    padding: 10px 300px;
    font-size: 16px;
}

.contact-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 30px;
    margin-left: 300px;
    margin-top: 15px;
    padding: 12px 30px;
    font-size: 15px;
    background: rgb(50, 50, 50);
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(50, 50, 50);
    transition: 0.15s;
}

.contact-btn:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(50, 50, 50);
    background: none;
    transition: 0.15s;
}

.download {
    margin: 30px 300px 0px;
}

.download a {
    text-decoration: none;
    color:rgb(50, 50, 50);
    font-size: 18px;
}

.fa-download {
    color:rgb(50, 50, 50);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container > div {
    color: #fff;
    margin: 10px;
    padding: 15px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 100%;
    background: rgb(50, 50, 50);
}

.self-container {
    margin-top: 50px;
}

.self-container img {
    width: 250px;
    border-radius: 15px;
}