.myProject-form {
    min-height: 82vh;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.myProject-form .form-container {
    width: 500px;
}

.myProject-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.myProject-form form label {
    font-size: 20px;
    font-weight: 400;
}

.myProject-form form input,
textarea,
select {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}

.myProject-form form textarea {
    height: 250px;
}

.myProject-form form .input-project-image-group {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
}

.myProject-form form .input-project-image-group label p {
    font-size: 15px;
}

.myProject-form form .input-project-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myProject-form form .button-group {
    text-align: right;
}

.myProject-form form button {
    margin-top: 50px;
    padding: 8px 15px;
    font-size: 17px;
    background: #ec4d37;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* --------- */

.myProject hr {
    border: 1px solid #dbdbdb;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.myProject .project-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myProject .project-list .project-list-item {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(50, 50, 50);
    display: flex;
}

.myProject .project-list .project-list-item .project-image {
    flex: 1;
}

.myProject .project-list .project-list-item .project-image img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(50, 50, 50);
    object-fit: cover;
}

.myProject .project-list .project-list-item .project-content {
    padding-left: 20px;
    flex: 2;
}

.myProject .project-list .btn-group {
    text-align: right;
    margin-bottom: 20px;
}

.myProject .project-list .btn-group .btn-edit {
    padding: 5px 10px;
    margin-right: 10px;
    border: 0;
    border-radius: 30px;
    background: #dbdbdb;
    color: rgb(50, 50, 50);
    cursor: pointer;
    box-shadow: 0px 0px 0px rgb(50, 50, 50);
    transition: 0.1s;
}

.myProject .project-list .btn-group .btn-edit:hover {
    transition: 0.1s;
    box-shadow: 0px 0px 5px rgb(50, 50, 50);

}

.myProject .project-list .btn-group .btn-post {
    padding: 5px 10px;
    border: 0;
    border-radius: 30px;
    background: #ec4d37;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgb(50, 50, 50);
    transition: 0.1s;
}

.myProject .project-list .btn-group .btn-post:hover {
    transition: 0.1s;
    box-shadow: 0px 0px 5px rgb(50, 50, 50);

}
.myProject .project-list h1 a {
    text-decoration: none;
    color: #000000;
}

.myProject .project-list .detail-project-content {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}

.myProject .project-list .project-list-item p {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

/* Details on open */
.project-detail {
    display: relative;
    justify-content: center;
}

.project-detail .project-detail-container {
    margin-left: auto;
    margin-right: auto;
    max-height: 120vh;
    width: 75vw;
}

.project-detail .project-detail-container h1 {
    margin-top: 20px;
}

.project-detail .project-detail-container p {
    margin-top: 20px;
}

.imaging {
    margin-top: 20px;
    width: 75vw;
    object-fit: cover;
}